@import url("./_vars.scss");
@import url("https://fonts.googleapis.com/css2?family=Jost:ital,wght@0,100..900;1,100..900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=DM+Serif+Display:ital@0;1&display=swap");

html {
  font-family: var(--text);
  font-weight: 400;
}

.container {
  max-width: 1200px !important;
  margin: 0 auto;
  padding: 0 15px;
}
@media (max-width: 1200px) {
  .container {
    width: 100%;
    padding: 0;
    padding: 0 10px;
  }
}
.title {
  font-size: 50px;
  line-height: 125%;
  letter-spacing: 0.02em;
  color: #292f36;
  font-family: var(--title);
}
.text {
  line-height: 150%;
  letter-spacing: 0.01em;
  color: #4d5053;
  font-family: var(--text);
}
.--after-arow {
  position: relative;
  &::after {
    position: absolute;
    content: url("./../../src/img/helpers/arrow-btn.svg");
    right: -25px;
    top: 4px;
    transition: all 0.15s ease-in;
    cursor: pointer;
    user-select: none;
  }
  &:hover::after {
    right: -40px;
  }
}
.button {
  font-family: var(--text);
  font-weight: 600;
  font-size: 18px;
  line-height: 125%;
  letter-spacing: 0.02em;
  text-align: center;
  box-shadow: 0 10px 20px 0 rgba(192, 192, 192, 0.35);
  background-color: #292f36;
  border-radius: 18px;
  padding: 26px 56px 26px 31px;
  color: #fff;
  gap: 10px;
  margin-top: 21px;
  &.button--light {
    box-shadow: 0 10px 20px 0 #1f2022;
    background-color: #cda274;
    .--after-arow::after {
      content: url("./../../src/img/helpers/arrow-btn-dark.svg");
    }
  }
  &:hover {
    .button-text::after {
      right: -40px;
    }
    &:hover {
      .--after-arow::after {
        right: -40px;
      }
    }
  }
}
@media (max-width: 768px) {
  .button {
    padding: 16px 40px 16px 20px;
    font-size: 16px;
  }
}
@media (min-width: 769px) and (max-widht: 1024px) {
  .button {
    padding: 20px 50px 20px 25px;
  }
}
.link {
  .--after-arow::after {
    right: -40px;
  }
}

.subtitle {
  font-family: var(--title);
  font-size: 25px;
  line-height: 125%;
  letter-spacing: 0.02em;
  color: #292f36;
}
.logo {
  span {
    font-family: var(--title);
  }
  svg {
    margin-right: 10px;
  }
  font-size: 40px;
  line-height: 125%;
  color: #292f36;
}
@media (max-width: 768px) {
  .logo {
    font-size: 32px;
  }
}
.none {
  display: none;
}
.social:hover {
  opacity: 0.8;
  cursor: pointer;
}

.icon {
  border-radius: 50%;
  background-color: var(--light-color);
  transition: all 0.3s ease-in;
  svg path {
    stroke: var(--brown);
    transition: all 0.2s ease-in;
  }

  &:hover {
    background-color: var(--brown);
    svg path {
      stroke: #f4f0ec;
    }
  }
}
.light-text {
  color: var(--brown);
}
.bg-light {
  background-color: var(--light-color);
}
.bg-dark {
  background-color: var(--dark-color);
}
.--numbered {
  &::before {
    content: attr(data-number);
    font-size: 20px;
    line-height: 125%;
    letter-spacing: 0.02em;
    color: var(--brown);
    font-family: var(--title);
    margin-right: 11px;
  }
}
.services-single__icon {
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  cursor: pointer;
}

.title {
  @media (max-width: 768px) {
    font-size: 28px;
  }
  @media (min-width: 768px) and (max-width: 1024px) {
    font-size: 36px;
  }
  @media (min-width: 1024px) and (max-width: 1200px) {
    font-size: 44px;
  }
}
.text {
  @media (max-width: 768px) {
    font-size: 18px;
  }
  @media (min-width: 768px) and (max-width: 1024px) {
    font-size: 20px;
  }
  @media (min-width: 1024px) {
    font-size: 22px;
  }
}
.subtitle {
  @media (max-width: 768px) {
    font-size: 20px !important;
  }
  @media (min-width: 769px) and (max-width: 1200px) {
    font-size: 22px;
  }
}
.no-scrollbar::-webkit-scrollbar {
  display: none;
}
.no-scrollbar {
  -ms-overflow-style: none;
  scrollbar-width: none;
}
input {
  border-bottom: 1px solid #000;
  &::placeholder {
    color: #4d5053;
  }
  &.form__input--warning::placeholder {
    color: rgb(255, 137, 137);
  }
}
textarea,
input {
  &::placeholder {
    color: #4d5053 !important;
  }
}
.text-dark {
  color: var(--dark-color) !important;
}
