.form {
  input {
    border-bottom: 1px solid #000;
    &::placeholder {
      color: var(--dark-color);
    }
    &.form__input--warning::placeholder {
      color: rgb(255, 137, 137);
    }
  }
  textarea::placeholder {
    color: var(--dark-color);
  }
  .form__checkbox {
    display: none; // Скрываем стандартный чекбокс

    & + label {
      display: flex;
      align-items: center;
      cursor: pointer;
      gap: 8px;

      &::before {
        content: "";
        width: 17px;
        height: 17px;
        border: 2px solid var(--brown);
        border-radius: 3px;
        display: inline-block;
        transition: background 0.2s, border 0.2s;
      }
    }

    &:checked + label::before {
      background: var(--brown);
      border-color: var(--brown);
      position: relative;
    }

    &:checked + label::before {
      content: "✔";
      color: white;
      font-size: 13px;
      text-align: center;
      line-height: 15px;
    }
  }
}
.form__checkbox-wrapper {
  label {
    color: var(--brown);
    font-size: 18px;
    line-height: 1.25;
  }
  margin: 0 auto;
}
.form__warning {
  color: rgb(255, 137, 137);
}
