.home__main {
  background-image: url("../../img/home/bg.jpg");

  background-size: cover;
}
.home__wrapper {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  max-width: 567px;
  text-align: left;
}

.estimate__icon {
  border-radius: 100%;
  background-color: #f4f0ec;
  transition: all 0.3s ease-in;
  svg path {
    stroke: #cda274;
    transition: all 0.3s ease-in;
  }
  &:hover {
    background-color: #cda274;
    svg path {
      stroke: #f4f0ec;
    }
  }
}
.home__name {
  font-family: var(--title);
}
.partners__row {
  align-items: center;
  .partners__partner {
    &:hover {
      opacity: 0.8;
      cursor: pointer;
    }
  }
}

.articles__wpapper {
  flex-direction: column;
  align-items: center;
}
.articles__title {
  margin-bottom: 12px;
}
.articles__text {
  margin-bottom: 52px;
  max-width: 812px;
  text-align: center;
}
.articles__articles {
  gap: 27px;
}
@media (max-width: 768px) {
  // .home__bg-wrapper {
  //   // background-image: url("../../img/estimate/01.jpg");
  // }
}

@media (max-width: 576px) {
}

@media (min-width: 576px) and (max-width: 768px) {
}

@media (min-width: 768px) and (max-width: 992px) {
}

@media (min-width: 992px) and (max-width: 1200px) {
}

@media (max-width: 768px) {
  .home__text {
    color: #111213;
  }
}
@media (max-width: 992px) {
  .home__main {
    background-image: linear-gradient(
        rgba(255, 255, 255, 0.25),
        rgba(255, 255, 255, 0.25)
      ),
      url("./../../img/home/bg.jpg");
  }
}
.home__text {
  line-height: 150%;
  letter-spacing: 0.01em;
  color: #4d5053;
  font-family: var(--text);
}
.home__city {
  color: #4d5053;
}
